*{
  margin: 0px;
  padding: 0px;
}


.upperSection {
  background-image: url(../assets/upeer-background.png);
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 50%);
  width: 95%;
  margin: auto;
  background-size:100% ;
}

.about {
  display: grid;
  /* height: 5rem; */
  margin: auto;
  margin-left: 5rem;
  width: 80%;
}

.about h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 87px;

  background: linear-gradient(90deg, #ef8431 0%, #e71a86 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.about p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.about img {
  position: absolute;
  left: 12.8%;
  /* right: 31.76%; */
  top: 32.83%;
  /* bottom: 93.48%;   */
}

.upperSection .imageDiv {
  /* border: 1px solid red; */
  width: 50%;
  justify-items: center;
}

/* .imageDiv {
  border: 1px solid red;
  width: 50%;
  justify-items: center;
} */


.people_Image{
  /* border:2px solid red; */
  width: 80%;
}

.midsection {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 90%;
}

.midsection > div {
  width: 30%;
}

.midsection > div :nth-child(2) {
  width: 100%;
  /* border: 1px solid red; */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #878787;
}

.vision {
  text-align: left;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #231f20;
}

.midsectionLow {
  display: flex;
  width: 95%;
  margin: auto;
}

.midsectionLow > div :nth-child(2) {
  width: 100%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #878787;
}

.midsectionLow > div {
  width: 45%;
}

.move {
  width: 90%;
  /* border: 3px solid green; */
  margin: auto;
  margin-bottom: 5rem;
}

.erpertArea {
  width: 91%;
  margin: auto;
  background: #fafafa;
  margin-bottom: 5rem;
  padding: 2rem;
  /* border: 2px solid red;     */
}

.areaExpert {
  margin: auto;

  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  /* line-height: 49px; */
  color: #231f20;
}

.para {
  margin: auto;
  width: 50%;
}
.card {
  display: grid;
  width: 80%;
  gap: 50px;

  margin: auto;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}

.card > div {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: #231f20;
  height: 10rem;
  padding: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project {
  /* border: 2px solid red; */
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);

  line-height: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  align-items: center;
}

.projectPara {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 5rem;
  color: #231f20;
  text-align: center;

}

.projectPara2 {
  text-align: center;
}

.company {
  /* border: 2px solid red; */
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  background: #f7f7f7;
}

.footerImage{
  background-image: url(../assets/footer.png);
  width: 100vw;
  /* border: 2px solid red; */
  
  background-size: cover;
}
.footerSearch {
  /* border: 5px solid red; */
  border-radius: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.footerSearchDiv {
  background-color: linear-gradient(90deg, #201c18 0%, #e71a86 100%);
  transform: matrix(1, -0.01, 0.01, 1, 0, 0);
}

.social {
  display: flex;
  gap: 20px;
}

.navContent {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  position: sticky;
  border-color: transparent;
  align-items: center;
}

.navImage {
  margin-left: 2rem;
}
.navright {
  align-items: center;

  width: 70%;
  display: flex;
  justify-content: space-around;
}

.visionImage{
  width: 90%;
}

.footerImage{
  /* border: 2px solid red; */
  width: 100%;
}


@media screen and (max-width: 1500px) {

  .people_Image{
    /* border:2px solid red; */
    margin-left: 30%;
    width: 45%;
  }
  


  .upperSection {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
 
  .about h1 {
    text-align: center;
  }
  .about img {
    display: none;
  }

  
.midsection {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(1,1fr);
  width: 40%;
}

.midsection > div {
  width: 100%;
}

.midsection > div :nth-child(2) {
  width: 120%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #878787;
}
.vision {
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #231f20;
}

.midsectionLow {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 50%;
  margin: auto;
}

.midsectionLow > div :nth-child(2) {
  width: 100%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #878787;
}

.midsectionLow > div {
  width: 100%;
}

.move {
  width: 100%;
  margin: auto;
  margin-bottom: 5rem;
}

.card {

  grid-template-columns: repeat(2, 1fr);
}

.project {
  /* display: grid; */
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.projectPara2{
  font-weight: 600;
  line-height:4.5rem ;
}


.company{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2,1fr);
}



}
